* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NEED TO CHANGE TO MOBILE FRIENDLY */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 80px;
  background: white;
  padding: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.title {
  color: #171717;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
}

.subtitle {
  color: #171717;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
}

.wild-pokemon {
  position: relative;
  height: 450px;
  background: firebrick;
  padding: 15px;
}

.wild-pokemon h2 {
  color: #f3f3f3;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding-bottom: 10px;
}

.wild-pokemon .sprite {
  display: block;
  min-height: 240px;
  max-height: 250px;
  margin: 0px auto;
}

.wild-pokemon h3 {
  color: #f3f3f3;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-bottom: 8px;
}

.wild-pokemon h4 {
  padding-top: 3px;
  color: #f3f3f3;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.wild-pokemon .catch-btn {
  bottom: 0;
  position: absolute;
  font-family: fantasy;
  font-weight: 500;
  font-size: xx-large;
  width: 200px;
  height: 300px;
  display: block;
  margin: 25px auto;
  background: #ffCe09;
  border: none;
  outline: none;
  color: #171717;
  font-weight: 700;
  cursor: pointer;
}

.wild-pokemon .catch-btn:active {
  background: #ffCe09;
}

.pokedex {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-flow: column;
}

.pokedex-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 15px;
  padding-bottom: 20px;
}

.pokedex-list .pokemon {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 150px;
  padding: 15px;
  background: #f3f3f3;
}

.pokedex-list .pokemon h3{
  text-transform: uppercase;
  font-size: medium;
  position: absolute;
  bottom: 0;
}

.pokedex-list .pokemon .remove {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: firebrick;
  color: #f3f3f3;
  font-size: 28px;
  cursor: pointer;
}
